.header-top {
  margin-bottom: 50px;
}

.header-bottom {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}

.header-bottom__logo {
  margin-right: 10px;
}

.search {
  font-family: "Oswald", sans-serif;
  font-size: 64px;
  color: #C4C4C4;
  opacity: 0.6;
  font-weight: 500;
  border-bottom: 2px solid #C4C4C4;
  padding-left: 20px;
}

.catalog {
  display: grid;
  grid-template-columns: 0.25fr 0.9fr;
  grid-template-rows: auto;
  min-height: 100vh;
  background-color: #F1F1F1;
  padding: 20px 60px;
}

.filter {
  background-color: #FFFFFF;
  padding: 25px;
  margin-right: 20px;
  align-self: start;
  border: 1px solid #A04955;
}
.filter__button {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
  vertical-align: top;
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
}
.filter__button:hover, .filter__button:active {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #A04955;
}
.filter__list {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 23px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #A04955;
}
.filter__list:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.filter__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: #F1F1F1;
  color: #000000;
  transition: all 0.3s ease;
}
.filter__list-item--selected {
  background-color: #FFFFFF;
  color: #A04955;
  border: 3px solid #A04955;
}
.filter__list-item:hover, .filter__list-item:active {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #A04955;
  border: 1px solid #A04955;
  transform: scale(1.2);
}
.filter [data-color=beige] {
  background-color: #9F8C76;
}
.filter [data-color=black] {
  background-color: #000000;
}
.filter [data-color=olive] {
  background-color: #808000;
}
.filter [data-color=grey] {
  background-color: #333333;
}
.filter [data-color=red] {
  background-color: #FF0000;
}
.filter [data-color=blue] {
  background-color: #0000FF;
}
.filter__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: #FFFFFF;
  color: #000000;
  transition: all 0.3s ease;
}
.filter__price input[type=number] {
  display: block;
  outline: none;
  margin: 10px 0;
}
.filter__price-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid #A04955;
  transition: all 0.2s ease;
}
.filter__price-button:hover {
  background-color: #A04955;
  color: #FFFFFF;
}

.cards--catalog {
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.pagination {
  width: 100%;
}

.pagination__list {
  display: flex;
  justify-content: flex-end;
}

.pagination__item {
  padding: 10px 15px;
  border: 1px solid #A04955;
  cursor: pointer;
  color: #A04955;
  transition: all 0.3s linear;
}
.pagination__item:not(:last-child) {
  margin-right: 10px;
}
.pagination__item:hover {
  color: #FFFFFF;
  background-color: #A04955;
}
.pagination__item--active {
  color: #FFFFFF;
  background-color: #A04955;
}/*# sourceMappingURL=shorts.css.map */